.rating-wrapper {
    width: 150px;
    position: relative;
    color: transparent;
    .stars-container {
        white-space: nowrap;
        display: flex;
    }
    .star-item-wrapper {
        position: relative;
        .star-item {
            font-size: 30px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            color: #bdbdbd;
        }
        .star-item-hoverable {
            &:hover {
                color: gold;
            }
        }
        .star-item-fill {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 0;
            color: gold;
        }
    }
    .active-star {
        color: gold !important;
    }
}
