<div class="rating-wrapper" (mouseleave)="onMouseLeave()">
    <div class="stars-container">
        <span class="star-item-wrapper" *ngFor="let item of starItems; let ind=index" (click)="onClickRating(item)">
            <span class="star-item" [class.active-star]="ind <= activeStarIndex" (mouseenter)="onStarHover(ind)">&#x2605;
            </span>
            <span class="star-item star-item-fill" *ngIf="halfStarIndex === ind && !isHovering" [style.width.%]="startFillPercentage">&#x2605;
            </span>
        </span>
    </div>
</div>
